/*! Home.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
 body {
 	background-color: #B3D7FF;
 }
#deleteexemplaar,#deletetitel,#invoertitel,#leenuit,#invoerexemplaar,
#retourexemplaar, #toongebruikers
, #leenuit {
/*	background-color:#138FEC;*/
	overflow:hidden;
	width:50%;
	float:left;
	height:120px;
}
#toonuitleningen,#toonexemplaren,#toonfilms {
 	width:50%;
 	float:left;
 }

  #toonklanten {
  	
  }
table {
	border:1px solid gray;
	border-collapse:collapse;
}

#wrapper {
	margin-left:auto;
	margin-right:auto;
	width:80%;
}